
.card{
  width: 350px;
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: solid black 2px;

}
.card img{
  width: 300px;
}
.articleList{
display: flex;
flex-direction: column;
padding: 20px;
margin: 20px;
align-items: center;
}
